<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfDynamicsPlugin</name>
  <channel>pear.symfony-project.com</channel>
  <summary>Manage javascripts/stylesheets libraries as coherent packages, dependencies, packing, caching and supercaching. JS framework independant. No magic included.</summary>
  <description>Manage javascripts/stylesheets libraries as coherent packages, dependencies, packing, caching and supercaching. JS framework independant. No magic included.</description>
  <lead>
    <name>Romain Dorgueil</name>
    <user>hartym</user>
    <email>romain.dorgueil@symfony-project.com</email>
    <active>yes</active>
  </lead>
  <developer>
    <name>Bertrand Zuchuat</name>
    <user>Garfield-fr</user>
    <email></email>
    <active>yes</active>
  </developer>
  <developer>
    <name>Alexandre Salome</name>
    <user>alexandre.salome</user>
    <email></email>
    <active>no</active>
  </developer>
  <developer>
    <name>François.Béliveau</name>
    <user>francois.b</user>
    <email>francois.beliveau@my-labz.com</email>
    <active>yes</active>
  </developer>
  <developer>
    <name>Geoffrey Bachelet</name>
    <user>geoffrey</user>
    <email>geoffrey.bachelet@gmail.com</email>
    <active>yes</active>
  </developer>
  <developer>
    <name>Ken Marfilla</name>
    <user>marfillaster@github</user>
    <email></email>
    <active>no</active>
  </developer>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.4.0</max>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <date>2009-12-16</date>
      <version><release>0.9.6</release><api>0.9</api></version>
      <stability><release>beta</release><api>beta</api></stability>
      <notes>
        <![CDATA[
        This release only adds visibility of symfony 1.4 support.
        ]]>
      </notes>
    </release>
    <release>
      <date>2009-12-16</date>
      <version><release>0.9.5</release><api>0.9</api></version>
      <stability><release>beta</release><api>beta</api></stability>
      <notes>
        <![CDATA[
         * r22135: [sfDynamicsPlugin] fix ticket #7 (http://trackeet.net/issues/show/7) - Fixed supercache problem under windows platform. Can someone test it? (hartym)
         * r22143: [sfDynamicsPlugin] updated package.xml template (hartym)
         * r22145: [sfDynamicsPlugin] fixed changelog (hartym)
         * r22673: [sfDynamicsPlugin] updated documentation (hartym)
         * r24581: [sfDynamicsPlugin] resolved svn conflict (hartym)
         * r25004: [sfDynamicsPlugin] changed "off" to "false" to make it work correctly with sf 1.4 (hartym)
         * r25337: [sfDynamicsPlugin] experimental performances optimisation (hartym)
         * r25337: [sfDynamicsPlugin] configuration options added and documented for app.yml (hartym)
         * r25337: [sfDynamicsPlugin] asset filter chain now let you customize your packers/minifiers. (hartym)
         * r25404: [sfDynamicsPlugin] switched back a prototype to its original version (hartym)
         * r25405: [sfDynamicsPlugin] commented unused features in configuration (hartym)
      ]]>
      </notes>
    </release>
    <release>
      <date>2009-09-18</date>
      <version><release>0.9.4</release><api>0.9</api></version>
      <stability><release>beta</release><api>beta</api></stability>
      <notes>
        <![CDATA[
        This release include changes from r20767 to r22145

        * r20767: [sfDynamicsPlugin] updated package.xml template file with next release changelog (hartym)
        * r21040: [sfDynamicsPlugin] merged francois branch: added assets header position configuration (hartym)
        * r21041: [sfDynamicsPlugin] fixed r21040 problem: duplicate method.  (hartym)
        * r22129: [sfDynamicsPlugin] Merge branch 'master' of git@github.com:hartym/sfdynamicsplugin (hartym)
        * r22130: [sfDynamicsPlugin] updated jQuery UI library (hartym)
        * r22131: [sfDynamicsPlugin] removed empty test that breaks the suite. (hartym)
        * r22132: [sfDynamicsPlugin] fixed unit test bootstrap to test plugin outside of a symfony project. (hartym)
        * r22133: [sfDynamicsPlugin] fix ticket #2 (http://trackeet.net/issues/show/2) - adds an empty comment between concatenated files so css hack /* \*/ is reseted between files. (hartym)
        * r22134: [sfDynamicsPlugin] fix ticket #11 (http://trackeet.net/issues/show/11) - More error check and exceptions if supercache directory does not exist. (hartym)
        * r22135: [sfDynamicsPlugin] fix ticket #7 (http://trackeet.net/issues/show/7) - Fixed supercache problem under windows platform. Can someone test it? (hartym)
      ]]>
      </notes>
    </release>
    <release>
      <date>2009-08-04</date>
      <version><release>0.9.2</release><api>0.9</api></version>
      <stability><release>beta</release><api>beta</api></stability>
      <notes>
        <![CDATA[
        This release include changes from r17356 to r20766

        * r17356: updated package.xml template for 0.9.1 release
        * r17494: disabled bogus relative_path_resolver feature. Related to
          http://dynamics.lighthouseapp.com/projects/24930/tickets/10-relative-url-in-css-render-all-unix-path#ticket-10-3
        * r18307: refactored assets definition collections
        * r18309: implemented image_path_prefix option for stylesheets
        * r18310: updated url finder regexp to find url that starts by anything
          but a slash
        * r18478: fixed minor bug in renderer and assetCollectionDefinition
          classes and removed stylesheet from jquery.all package
        * r18786: switched the web debug toolbar into plugin configuration
          class to avoid compatibility problems with symfony 1.1
        * r19163: Last adjustements before #sflive09fr - Fixed some
          compatibility problems, added explicit exceptions
        * r19296: merged last changes from git branch
        * r20756: merged last changes. Error checking, doc, default media.
        * r20762: removed symfony 1.1 support, added ., - and _ characters in
          package name.
      ]]>
      </notes>
    </release>
    <release>
      <date>2009-04-16</date>
      <version><release>0.9.1</release><api>0.9</api></version>
      <stability><release>beta</release><api>beta</api></stability>
      <notes>
        <![CDATA[
        This release include changes from r17032 to r17356

        * fix debug panel xhtml (add type attribute to style node and remove
          duplicate id)
        * update package.xml.tmpl
        * evolution on jquery package definition files to allow keeping
          concurrent versions of jquery.
        * added package md5 sums check on definition to avoid allowing two
          different version of the same package (for example jquery 1.2.x and
          jquery 1.3.x) being defined at the same time.
        * merge of dynamic_path_resolver branch (from r17132 to r17351).
          Feature is not yet complete, see
          http://dynamics.lighthouseapp.com/projects/24930/tickets/8-relative-path-resolver#ticket-8-1
      ]]>
      </notes>
    </release>
    <release>
      <date>2009-04-06</date>
      <version><release>0.9.0</release><api>0.9</api></version>
      <stability><release>beta</release><api>beta</api></stability>
      <notes>
        <![CDATA[
        This release include changes from r16934 to r17031

        * added web debug panel to have information about loaded packages.
      ]]>
      </notes>
    </release>
    <release>
      <date>2009-04-03</date>
      <version><release>0.1.4</release><api>0.1</api></version>
      <stability><release>alpha</release><api>alpha</api></stability>
      <notes>
        <![CDATA[
        This release include changes from r15906 to r16933.

        * documentation: refactored dynamic plugins information merged conflict
        * in git repository changed config handler to work if plugin path is
        * not the default one.  added try/catch blocks around package loader to
        * avoid thinking a
          package is there if load fail.
        * added jquery 1.3.2 added automatic creation of supercache directory
        * if it does not exists tuning of jquery 1.3.2 packageset updated
        * jQuery1.3.2 and jQuery.ui 1.7 fixed base theme path for jQuery UI
        * removed debug mode updated "jquery-extra" packageset. as specified in
        * documentation on
          http://dynamics.dakrazy.net/documentation/bundled_configuration ,
          this packageset status is hazardous and subject to major changes
          before beta release.
        * added a "path" element  to package definition tags to allow adding
          custom search paths
        * added some verbose messages fixed configuration bootstrap from cache
        * added some debug informations in assets
        * fixed path tag problem
        * fixed typo
      ]]>
      </notes>
    </release>
    <release>
      <date>2009-03-01</date>
      <version><release>0.1.3</release><api>0.1</api></version>
      <stability><release>alpha</release><api>alpha</api></stability>
      <notes>
        * Added symfony version check to configure routing according
          to it.
        * Added more verbosity to errors, and more strict check of
          configuration so user cannot be lost.
        * Clean up of documentation, tutorial
      </notes>
    </release>
    <release>
      <date>2009-02-24</date>
      <version><release>0.1.2</release><api>0.1</api></version>
      <stability><release>alpha</release><api>alpha</api></stability>
      <notes>
        * Major refactoring: old code removed, documentation added, sfDynamicsConfig class added.
        * Javascript and stylsheets are now managed exactly the same way, modulo the packing filters.
        * Improved plugin documentation (/doc, still not finished)
      </notes>
    </release>
    <release>
      <date>2009-02-18</date>
      <version><release>0.1.1</release><api>0.1</api></version>
      <stability><release>alpha</release><api>alpha</api></stability>
      <notes>
        * Added an event listener that clears assets supercache on ./symfony cc
        * Improved PHP-doc
      </notes>
    </release>
    <release>
      <date>2009-02-17</date>
      <version><release>0.1.0</release><api>0.1</api></version>
      <stability><release>alpha</release><api>alpha</api></stability>
      <notes>
        * First release
      </notes>
    </release>
  </changelog>
</package>
