div.cmDiv
{
}
.clickMenu
{
  cursor: default;
}
.clickMenu, .clickMenu ul
{
  background-color: #fff;
  list-style: none;
}
.clickMenu ul
{
  margin: 0;
  padding: 0;
  min-width: 100px; /* ie doesnt know this :/ */
  //float: left;/*ie again*/
  //width: 100%;/*and again*/
}
.clickMenu div.outerbox
{
  display: none;
  min-width: 106px; /* firefox produces animation-flickering when the box is bigger than this :/ */
}
.clickMenu div.inner
{
  //top: 20px; /* for ie */
  left: 10px;
  margin: 0;
}
.clickMenu div.inner div.outerbox
{
  margin: 0;
  left: 98px;
  //left: 90px; /* for ie */
  top: -3px;
}
.clickMenu li
{
  position: relative;
  /*white-space: nowrap; does not really work in ie */
}
.clickMenu li.main
{
  //height: 20px; /* for ie */
}
.clickMenu li.main li
{
  z-index: 2;
  min-width: 78px;
}
.clickMenu li.hover
{
  z-index: 1 !important; /* the hover z-index has to be below the normal one the hovering items may be drawn over a submenu */
  background-color: #aaa;
}
.clickMenu img.liArrow
{
  position: absolute;
  right: 5px;
  top: 0.41em;
}
.clickMenu a
{
  text-decoration: none;
  color: black;
  cursor: default;
}
/* thats for the shadowbox */
html>body div.outerbox
{
  z-index: 5 !important;
  padding: 0 5px 5px 0;
}
html>body div.shadowbox1
{
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 5px;
  height: 100%;
  background: url(../images/clickmenu/shadow.png) no-repeat right top;
}
html>body div.shadowbox2
{
  position: absolute;
  bottom: 0;
  right: 5px;
  height: 5px;
  width: 100%;
  background: url(../images/clickmenu/shadow.png) left bottom;
}
html>body div.shadowbox3
{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5px;
  width: 5px;
  background: url(../images/clickmenu/shadow.png) no-repeat right bottom;
}
html>body .innerbox
{
  z-index: 5 !important;
  background-color: #fff;
  margin: 0;
  margin-left: 2px;
  margin-top: 2px;
  display: inherit;
}
